{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1>Data Analytics</h1>

    <div class="display-6">My Process:</div>
    <div class="container">

        <h5>First: The Business</h5>
        <h6>Get a clear understanding of the business and/or issue at hand</h6>
        <br>
        <h5>Second: The Data</h5>
        <h6>Collect and explore all possible avenues for retrieving the required data</h6>
        <br>
        <h5>Third: The Preparation</h5>
        <h6>...</h6>
        <br>
        <h5>Fourth: The Analysis</h5>
        <h6>...</h6>
        <br>
        <h5>Fifth: The Presentables</h5>
        <h6>Visuals</h6>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <ul>
        <li>Pandas</li>
        <li>SciPy</li>
        <li>MatPlotLib</li>
        <li>Beautiful Soup</li>
        <li>Requests</li>
        <li>API</li>
        <li>Models</li>
        <li>Simulations</li>
    </ul>

    Visualization
    <p>Chart js</p>


</div>



{% endblock content %}